#!/usr/bin/env python

import json
import os
import re
import subprocess
import sys

content=dict()

zabbix_server_exec = '{{ zabbix_server__service_executable }}'

version_re = re.compile('^zabbix_server\s+\(Zabbix\)\s+(?P<version>(?P<major>[0-9]+)[^ ]+)$')
try:
    if not os.path.isfile(zabbix_server_exec):
        content['error'] = 'executable {} does not exists'.format(zabbix_server_exec)
    else:
        result = subprocess.Popen([zabbix_server_exec, '--version'], stdout=subprocess.PIPE, stderr=subprocess.PIPE, universal_newlines=True)
        (stdout, stderr) = result.communicate()
        output = stdout + stderr
        for line in output.split('\n'):
            match = version_re.search(line)
            if match:
                content['version_full'] = match.group('version')
                content['version_major'] = match.group('major')
                break
except subprocess.CalledProcessError as e:
    content['error'] = str(e)

if len(content) == 0:
    content = None

print(json.dumps(content))
sys.exit(0)
